.perfil {

    padding-top: 5%;
    width: 100%;



    img {
        display: flex;
        border-radius: 50%;
        margin-left: 15%;


    }

    &__header {
        display: flex;
        color: white;
        gap: 20px;
        width: 100%;
        justify-content: space-around;

        @media screen and (max-width:780px) {
            display: grid;
            grid-template-columns: 400px;
            justify-content: center;
            align-items: center;
            padding-left: 12em;
        }


        p {
            font-size: 25px;
            margin-left: 8%;

            @media screen and (max-width:780px) {
                text-align: center;
                width: 50%;
            }

        }

        button {
            width: 150px;
            height: 30px;
            border-radius: 8px;
            margin: 0 8px 0 0;
            background-color: rgba(200, 200, 200, 0.3);
            color: white;
            cursor: pointer;
            border: 0px;

            @media screen and (max-width:780px) {
                width: 140px;
            }
        }

        button:hover {
            background-color: rgba(140, 140, 140, 0.3);
        }

        i {
            font-size: 25px;
            cursor: pointer;
            display: flex;
            margin-left: -4em;

        }

    }



    &__info {
        color: white;
        display: flex;
        justify-content: center;
        margin-top: -9%;
        gap: 40px;
        margin-left: 15%;
        font-size: 18px;

        @media screen and (max-width:780px) {
            display: grid;
            grid-template-columns: 100px 100px;
            justify-content: center;
            align-items: center;
            width: 100%;
        }


    }

    &__icon {
        span {
            color: gray;
            margin-left: 3em;
            display: flex;
            margin-top: 2em;
            font-size: 60px;
            border: 1px solid gray;
            width: 80px;
            align-items: center;
            justify-content: center;
            border-radius: 52%;
            background-color: rgb(30, 30, 30);
            cursor: pointer;
            height: 80px;
            font-weight: 400;

            @media screen and (max-width:780px) {
                margin-top: 50px;
            }

        }

        p {
            color: white;
            margin-left: 12.5em;
            margin-top: 10px;


        }
    }



}

.public {




    nav {
        display: flex;
        justify-content: center;
        width: 100%;


    }

    ul {
        display: flex;
        color: white;
        justify-content: center;
        margin-top: 8%;
        gap: 40px;
        border-top: 1px solid grey;
        width: 70%;

        @media screen and (max-width:780px) {
            display: grid;
            grid-template-columns: 80px 80px;
            justify-content: center;
            padding-left: 7em;
            align-items: center;
        }
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        cursor: pointer;
        padding: 5px 15px;

    }

    li:hover {
        background-color: rgba(200, 200, 200, 0.1);
        border-radius: 8px;

    }


}

.images {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 1em;
    padding-left: 5em;

    @media screen and (max-width:780px) {
        display: grid;
        grid-template-columns: 200px;
        margin-bottom: 5em;
    }


    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: flex;
        cursor: pointer;
        transition: all 0.8s;



    }

    img:hover {
        transform: scale(1.07);
    }
}