.home {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


    &__content {
        color: white;
        border: 1px solid grey;
        height: 500px;
        width: 500px;
        border-radius: 10px;
        padding: 30px;
        background-color: rgba(30, 30, 30, 0.10);
    }

    h3 {
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1em;
        width: 100%;
    }

    i {
        font-size: 50px;
        margin-top: 3em;
        display: flex;
        justify-content: center;

    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

    }

    input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 10px;
        background-color: orange;
        color: black;
        font-weight: bold;
        padding: 5px;
    }



}

.novo{
    color: white;
}